.collection-img {
  width: 200px;
}

.create-item-btn {
  display: inline-block;
  margin-top: 1rem;
  margin-left: auto;
}

.title {
  text-align: start;
  margin-top: 3rem;
  margin-bottom: 0 !important;
}
