.Login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  margin: 0;

  &-img {
    flex: 3;
    background: url("../../assets/background.jpg") center / cover no-repeat;
  }

  &-form {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__title {
      font-weight: 400;
    }

    &__container {
      max-width: 20rem;
      width: 80%;
    }

    &__label {
      text-align: start;
    }

    &__btn {
      display: block;
      margin-left: auto;
    }
  }

  &-media {
    column-gap: 1rem;

    .col {
      padding: 0;
    }

    &__title {
      font-weight: 300;
    }

    &__icon {
      width: 25px;
      height: 25px;
    }
  }
}

@media (max-width: 768px) {
  .Login {
    flex-direction: column;
    row-gap: 1rem;

    &-img {
      flex: 4;
    }

    &-form {
      flex: 1;

      &__title {
        font-size: 2.8rem;
      }
    }

    &-media {
      column-gap: 1rem;
    }
  }
}

.link {
  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }
}
