.Signup {
  width: 100%;
  min-height: 100vh;
  // border: 1px solid red;
  display: flex;
  align-items: stretch;
  margin: 0;

  &-img {
    // border: 1px solid green;
    flex: 3;
    background: url("../../assets/signup.jpg") center / cover no-repeat;
  }

  &-form {
    // border: 1px solid blue;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      font-weight: 400;
    }

    &__container {
      max-width: 20rem;
      width: 80%;
      
      & > * + * {
        margin-top: 1rem;
      }
    }

    &__label {
      text-align: start;
    }

    &__btn {
      display: block;
      margin-left: auto;
    }
  }

  &-media {
    column-gap: 1rem;

    .col {
      padding: 0;
    }

    &__title {
      font-weight: 300;
    }

    &__icon {
      width: 25px;
      height: 25px;
    }
  }
}

@media (max-width: 768px) {
  .Signup {
    flex-direction: column-reverse;
    row-gap: 1rem;

    &-img {
      flex: 2;
    }

    &-form {
      flex: 0;

      &__title {
        font-size: 2.8rem;
      }
    }

    &-media {
      column-gap: 1rem;
    }
  }
}
